# Python-ის დროებითი ფაილები
__pycache__/
*.pyc
*.pyo

# ვირტუალური გარემო
venv/
.venv/
env/

# რედაქტორების ფაილები
.vscode/
.idea/

# ოპერაციული სისტემის ფაილები
.DS_Store
Thumbs.db

# პროგრამის მიერ შექმნილი დროებითი მონაცემები
data/saves/
*.log
